.sidebar
{
    position: fixed;
    background-color: white;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    z-index: 200;
    padding-top: 4px;
}
.sidebarlink
{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebarlink:hover
{
    background-color: rgb(235, 235, 235) ;
}
.sidebarlink img
{
    height: 24px;
    margin-bottom: 6.5px;
}
.sidebarlink div
{
    font-family: Roboto,Arial;
    font-size: 10px;
} 